body {background-color: lightblue ;}
#score{font-size: large;}
#score {margin-left: 12px;}
#timer{font-size: large;}
#timer {float: right;}
#timer {margin-right: 12px;}
#stbd { color: #a03535;}
